<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/download/Download.css">
    <title>Download</title>
</head>
<body>
    <div class="imag"></div>
    <header>
        <h1>Download</h1>
        <nav>
          <ul>
            <li><a href="/views/home/NewHome.html">Home</a></li>
            <li><a href="/views/forum/Forum.html">Fórum</a></li>
            <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
            <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
            <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
            <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
            <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
            <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
            <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
            <li><a href="/views/download/Download.html">Downloads</a></li>
            <li><a href="/views/login/Login.html">Login</a></li>
            <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
            <li><a onclick="logout()">Deslogar</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="topics">
          <h2>Links</h2>
          <ul>
            <li>
              <a href="https://store.epicgames.com/pt-BR/browse?q=Grand%20Theft%20Auto&sortBy=relevancy&sortDir=DESC&count=40">
                <h3>Epic</h3>
                <p>Clique aqui e compre o jogo</p>
              </a>
            </li>
            <li>
              <a href="https://store.steampowered.com/search/?term=Grand+Theft+Auto">
                <h3>Steam</h3>
                <p>Clique aqui e compre o jogo</p>
              </a>
            </li>
            <li>
              <a href="https://www.rockstargames.com/br/search?q=Grand%20Theft%20Auto">
                <h3>Rockstar Games Oficial</h3>
                <p>Clique aqui e compre o jogo</p>
              </a>
            </li>
            <li>
              <a href="https://fivem.net/">
                <h3>FiveM</h3>
                <p>Clique aqui e baixe o FiveM. Jogue em qualquer servidor, ou crie o seu próprio servidor.</p>
              </a>
            </li>
          </ul>
        </section>
        <section class="categories">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
            <li><a href="/views/regras/Regras.html">Regras</a></li>
            <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
          </ul>
        </section>
      </main>
      <footer>
        <p>© 2023 Meu Fórum</p>
      </footer>
</body>
</html>