<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/sanadreas/SanAndreas.css">
    <title>San Andreas</title>
</head>
<body>
    <header>
        <h1>San Andreas</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>
              <li>
                <a href="#">
                  <h3>Grand Theft Auto: San Andreas</h3>
                  <p>
                    É um jogo desenvolvido pela Rockstar North e é o sétimo título da série Grand Theft Auto. É a sequência de Grand Theft Auto: Vice City
                    e a prequela de Grand Theft auto: Liberty City Stories e Grand Theft Auto III. Lançado na mesma data que GTA Advance. <br>
                    San Andreas consiste em três cidades totalmente realizadas: Los Santos, San Fierro e Las Venturas, e têm vastas extensões de campos, florestas,
                    um deserto e até mesmo uma montanha e muitas colinas. E o jogo giram em torno do personagem Carl Johnson, mais conhecido como CJ, a sua gangue (Grave Street Families)
                    e seu subsequente retorno ao poder.
                  </p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3>Enredo</h3>
                  <p>
                    Depois de viver em Liberty City, por cinco anos, Carl Johnson retorna a Los Santos em 1992 para o enterro de sua mãe. Lá, ele encontra tanto a sua família quanto sua
                    antiga gangue, a Grove Street Families, aos pedaços. Ao mesmo tempo que começa a acertar questões antigas com seus companheiros de gangue e luta contra as gangues rivais
                    pelo controle de territórios dentro da cidade, Carl começa a trazer a Grove Street de volta ao topo. No entanto, às vésperas das famílias conseguirem o controle de Los Santos,
                    CJ descobre que seus melhores amigos, Big Smoke e Ryder estão trabalhando em conjunto com o oficial de polícia corrupto, Frank Tenpenny, líder da C.R.A.S.H. para uma das gangues 
                    rivais, os Ballas. Smoke e Ryder montam uma cilada, para que a polícia prenda o irmão de CJ , Sweet. Tenpenny manda então prender Sweet e raptar CJ, que é deixado num lugar muito
                    distante, numa área rural bem ao sul de San Andreas, Angel Pine. Ao perceber que Tenpenny é sua única esperança de ficar fora da cadeia e conseguir a liberação de Sweetn CJ se vê
                    obrigado a cumprir as ordens do polícial corrupto, que incluem matar e interferir com pessoas envolvidas num processo criminal contra o próprio Tenpenny. <br>
                    CJ se envolve com Catalina, prima de Cesar Vialpando, ela namora por aventura, ou seja, gosta de se arriscar assaltando bancos ou lojas, mas depois o larga para ficar com Claude. <br>
                    CJ rapidamente conquista a amizade de novos aliados, entre eles Wu Zi Mu, também conhecido como Woozie, líder da San Fierro Triads, The Truth e Cesar Vialpando, que como CJ, foi traído
                    por seus antigos companheiros. CJ e seus novos amigos abrem uma garagem em San Fierro, enquanto esperam por uma oportunidade de retornar para Los Santos. Se envolvem com Jizzy B. dono
                    de uma boate: A cúpula do prazer, e as drogas. Após descobrirem que Jizzy estava se envolvendo com Big Smoke, CJ o mata. CJ descobre onde encontrar Ryder e T-Bone Mendez, capanga de Jizzy, 
                    ele os mata no Pier 69. <br>
                    cJ de envolve com assuntos de um agente governamental misterioso, Mike Toreno, que deixa a entenderr que liberá Sweet se CJ o ajudar com suas operações secretas. Paralelamente, CJ ajuda 
                    Wu Zi Mu a promover o crescimento de um novo cassino em Las Venturas dominada pelos mafiosos. Eventualmente retorna a Los Santos. Toreno cumpre sua promessa de libertar Sweet, pórem este, 
                    para a surpresa do irmão, se recusa a fazer parte do novo estilo de vida milionário de CJ, e insiste em retornar confortavelmente sobre os louros de CJ. <br>
                    Tenpenny vai a julgamento por diversos crimes, porém as acusações são arquivadas por falta de provas, já que todas as testemunhas da promotoria estão desaparecidas ou mortas. A libertação 
                    de Tenpenny provoca uma revolta entre os cidadãos de Los Santos. Impulsionado pela determinação de Sweet em derrubar o império de Big Smoke, que se tornou o maior traficante da cidade, 
                    Carl reconquista o território da gangue e caça os traidores responsáveis pelas tragédias que se abateram sobre as Famílias. Carl eventualmente executa Big Smoke num tiroteio final, escapando 
                    de seu palácio em chamas enquanto persegue Tenpenny, que fugira com toda a fortuna de Smoke. Após uma perseguição pelas ruas de Los Santos, Tenpenny perde controle do caminhão de bombeiros 
                    que dirigia e cai de uma ponte. Carl, prestes a executá-lo, é impedido por seu irmão. Ambos se afastam, e deixam Tenpenny "morrer num acidente de carro". As cenas finais mostram a 
                    confraternização entre a família e os aliados, enquanto Carl se afasta, dizendo que vai "ver o que está acontecendo no quarteirão".
                  </p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3>Jogo</h3>
                  <p>
                    San Andreas está estruturado de maneira similar aos dois jogos anteriores da série Grand Theft Auto. A parte central do jogo consiste de elementos de um jogo de corrida combinado com um 
                    third-person shooter, e um ambiente aberto e livre que permite ao jogador interagir e se locomover. A pé, o personagem controlado pelo jogador é capaz de andar, nadar e mergulhar 
                    (O primeiro jogo da série na qual isto é possível), escalar e pular, além de usar armas e se envolver em diversos tipos de combates manuais. Os jogadores também podem controlar diversos 
                    tipos de veículos, incluindo automóveis, caminhões, barcos, aviões, helicópteros, trens, tanque de guerra, motocicletas e bicicletas. O sistema de jogo aberto e não-linear permite aos 
                    jogadores explorar e escolher como desejam jogar o jogo exatamente. Embora as missões da trama sejam necessárias para o progresso através do jogo, e para destravar outras cidades 
                    (Todas áreas rurais; San Fierro; deserto e por último Las Venturas) e algum conteúdo do jogo, elas não são obrigatórias, e os jogadores podem completá-las quando quiser, e simplesmente 
                    vagar pelos territórios quando não as estiverem cumprindo. No entanto, criar muitos conflitos podem atrair atração indesejada - e potencialmente fatal - das autoridades; quanto mais caos 
                    causado, mais intensa a resposta: a polícia cuida das infrações menos graves, como ataque a transeuntes, apontar armas em locais públicos, roubo de carros, alguns assassinatos, enquanto
                    equipes da SWAT, do FBI e até mesmo o exército americano respondem a distúrbios mais graves. <br>
                    O jogador também pode participar de diversas missões opcionais; entre elas estão as tradicionais missões adicionais dos jogos anteriores, como dirigir um táxi e conduzir passageiros pela 
                    cidade, apagar incêndios com um carro de bombeiro, dirigir uma ambulância pela cidade e combater o crime, como justiceiro. Entre as novas adições estão missões onde o jogador pode desempenhar 
                    a função de ladrão de residência (Arrombamento) ou cafetão, fazer entregas de carga através de trens e caminhões, e frequentar auto escola; moto escola; escola náutica e especialização em
                    aviação - onde ele ainda pode desenvolver sua habilidade em muitos dos veículos existentes no jogo. <br>
                    Ao contrário de GTA Vice City e GTA III, que precisavam interromper o jogo para carregar mais dados sempre que o jogador se deslocava para distritos diferentes da cidade, o GTA: San Andreas 
                    não apresenta nenhum tipo de espera enquanto o jogador está se movimentando, já que seu mapa é muito maior que o dos jogos anteriores. As únicas cenas de carregamento no jogo são para ilustrar 
                    interlúdios ou antes de mostrar os interiores dos ambientes. Algumas outras diferenças entre o San Andreas e seus predecessores estão a possibilidade de multijogador nas chamadas missões Rampage, 
                    e a mudança dos 'pacotes secretos' dos antecessores por pichações, fotografias, ferraduras e ostras que podem ser feitas ou coletadas pelo jogador para desbloquear kits de armamentos, cada casa 
                    segura tem um conjunto diferente de "ferramentas". <br>
                    Os controles de câmera, das lutas e do posicionamento do alvo das armas de fogo foram retrabalhados, de maneira a incorporar conceitos de outro jogo da Rockstar, Manhunt, incluindo diversos elementos 
                    de ações sigilosas, assim como miras melhoradas e um mostrador da saúde do personagem, que muda de cor verde para vermelho ou negro dependendo do seu estado. A versão para PC ainda implementou acordes 
                    de mouse; o jogador deve segurar o botão direito do mouse para ativar a mira, e então clicar ou segurar o botão esquerdo para atirar ou utilizar algum item, como uma câmera fotográfica. <br>
                    O jogador pode, pela primeira vez na série, nadar e subir em muros ou paredes. A capacidade de nadar tem um grande efeito no personagem também, já que a água pela primeira vez não representa uma 
                    barreira impedindo a sua locomoção pelo cenário. Para um poder de fogo maior, os jogadores também podem ter duas armas ao mesmo tempo, ou fazer um tiroteio de dentro de um veículo (Drive-by shooting), 
                    com outros membros da gangue. Devido ao imenso tamanho do mapa de San Andreas, uma marcação pode ser adicionada ao mapa HUD que é visualizado na tela, auxiliando o jogador a chegar a um destino. <br>
                    A inteligência artificial do jogo também foi muito melhorada em relação a seus antecessores. O jogador não pode mais, por exemplo, espancar até à morte algum transeunte numa rua movimentada, em plena 
                    luz do dia, sem que haja alguma reação do público. Enquanto a maioria dos pedestres, por exemplo, pode fugir ou se esconder, alguns civis armados (Como traficantes de drogas ou membros de outras gangues) 
                    podem atacar CJ, ao que os membros da gangue de CJ podem responder fogo e perseguir seus oponentes. Os policiais agora também perseguem personagens não-controlados pelo jogador que estejam cometendo crimes.
                  </p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3></h3>
                  <p></p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3></h3>
                  <p></p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3></h3>
                  <p></p>
                </a>
              </li>
        </section>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
</body>
</html>