<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/regras/Regras.css">
    <title>Regras da Comunidade</title>
</head>
<body>
    <header>
        <h1>Regras da Comunidade</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="topics">
            <h2>Algumas Regras</h2>
            <ul>
              <li>
                <a href="#">
                  <h3>Respeitem os membros</h3>
                  <p>Todos os membros devem tratar os outros com respeito e cortesia. Não são permitidos insultos, difamações, discriminações, ameaças ou qualquer tipo de comportamento agressivo.</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3>Mantenha a discussão no tópico</h3>
                  <p>Certifique-se de que as mensagens que você postar estejam relacionadas ao tópico em discussão. Não desvie a discussão com comentários irrelevantes.</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <h3>Não postar conteúdo ofensivo ou ilegal</h3>
                  <p>Conteúdo ofensivo, ilegal ou que viola direitos autorais não é permitido. Isso inclui material sexualmente explícito, violento ou discriminatório.</p>
                </a>
              </li>
              <li>
                  <a href="#">
                  <h3>Não fazer spam</h3>
                  <p>Não é permitido fazer spam no fórum. Isso inclui excesso de publicidade, mensagens repetitivas ou irrelevantes.</p>
                  </a>
              </li>
              <li>
                  <a href="#">
                  <h3>Use uma linguagem amigável</h3>
                  <p> É importante usar uma linguagem adequada e respeitosa ao postar mensagens no fórum. Não são permitidos palavrões ou linguagem vulgar.</p>
                  </a>
              </li>
               <li>
                  <a href="#">
                  <h3>Não faça plágio</h3>
                  <p>Se você usar informações de outra pessoa ou site, certifique-se de dar o crédito adequado e não copie o conteúdo sem permissão.</p>
                  </a>
               </li>
            </ul>
          </section>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <div class="imag"></div>
    <footer>
        <p>© 2023 Meu Fórum</p>
    </footer>
</body>
</html>