<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gta3/NewGTA3.css">
    <title>GTA III</title>
</head>
<body>
    <header>
        <h1>GTA III</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>

              <li>
                <a href="#">
                  <h3>GTA III</h3>
                  <p>
                    Grand Theft Auto III (GTA III), foi lançado em 2001 em 3D, foi lançado originalmente para PS2,
                    mas também teve portas para PC e Xbox. Ambientado na fictícia Liberty City em 2001, GTA III inicia uma nova continuidade separada 
                    de seus predecessores. Os críticos elogiaram o jogo por sua aprsentação, design de jogo, liberdade,
                    desing de som a ambição, embora tenha sido objeto de controvésia devido à sua natureza violenta.
                    Várias publicações o consideram um título revolucionário por seus avanços em design de jogo e jogabilidade
                    aberta, e recebeu vários prêmios de final de ano. 
                  </p>
                </a>
              </li>

              <li><a href="#">
                <h3>Jogabilidade</h3>
                <p>
                    É possível ter várias missões disponíveis de uma vez, já que algumas missões exigem que o jogador espere por futuras 
                    instruções ou eventos. Além das missões, jogadores podem explorar o mundo aberto do jogo, e ter a possibilidade de 
                    completar missões secundárias. Liberty City é composta de três ilhas: Portland Island, Staunton Island e Shoreside Vile; 
                    as ilhas são desbloqueadas conforme o jogador avança na história. <br>
                    O jogador pode correr, pular, ou usar veículos para navegar no mundo de jogo. Durante os combates, a mira automática 
                    pode ser utilizada como um auxílio contra os inimigos. Visto que os jogadores tomam danos, a barra de saúde pode ser 
                    completamente regenerada pelo uso de itens que recuperam a saúde. Um colete à prova de balas pode ser utilizado para 
                    conter os danos de tiros e explosões, mas deteriora-se com o uso. Quando a barra de saúde chega ao fim, o jogo encerra, 
                    e o jogador reaparece no hospital mais próximo, ao custo de perder todas suas armas, colete, e uma certa quantia de dinheiro. <br>
                    Se o jogador comete algum crime durante o jogo, a polícia e as forças da lei podem aparecer tal como indicado pelo nível de 
                    "procurado" que é exibido no heads-up display (HUD). No medidor, as estrelas exibidas indicam o nível de procurado atual 
                    (por exemplo, no nível limite de seis estrelas, esforços dos oficiais para incapacitar o jogador se tornarão mais agressivos).
                    Os oficiais irão caçar o jogador que está sendo procurado no local. O nível de procurado entra em um modo de cooldown e ocasionalmente 
                    decai quando o mesmo está escondido dos oficiais. <br>
                    O jogo permite que o jogador controle o criminoso silencioso Claude. Durante a história, o personagem conhece vários novos 
                    personagens de gangues. Conforme os jogadores forem completando as missões para as diferentes gangues, membros aliados da 
                    gangue irão defender o jogador, enquanto a gangue rival irá reconhecer os jogadores e, consequentemente, atirar contra esse. 
                    Quando o mundo do jogo é explorado, jogadores podem exercer atividades como o minijogo vigilante, bombeiro, e trabalhar como taxista.
                    A finalização dessas atividades dão ao jogador recompensas de acordo com o contexto; por exemplo, após completar as missões de vigilante, o
                    s jogadores ganharão um pick-up de suborno que sana um crime cometido.
                    O combate em Grand Theft Auto III foi retrabalhado para permitir que os jogadores façam disparos dentro de um veículo.
                    O jogador faz o uso de ataques corpo a corpo, armas de fogo, e explosivos para lutar contra os inimigos. As armas de fogo 
                    incluem uma Micro Uzi, um fuzil M16 e um lança-chamas.[7] A perspectiva de três dimensões permite uma visão em primeira pessoa quando 
                    se está mirando com um sniper rifle, lança-foguetes, e a M16. Adicionalmente, o combate do jogo foi retrabalhado, de maneira que permite 
                    tiros em drive-by, enquanto o jogador estiver olhando para os lados dentro de um veículo. O jogador recebe uma grande quantidade de opções 
                    de armamento — essas podem ser compradas com negociantes, em lojas de armas, por vias de inimigos mortos, ou pela cidade.
                </p>
                </a>
              </li>

             <li><a href="#">
                <h3>Personagens</h3>
                 <p> 
                    - Claude Speed<br>
                    - Catalina<br>
                    - Salvatore Leone<br>
                    - Donald Love<br>
                    - Maria Latore <br>
                    - Lazlow Jones <br>
                    E nas expansões também tem outros personagens que são os favoritos do público: <br>
                    - Carl Johnson (CJ) <br>
                    - Tommy Vercetti <br>
                    - Toni Cipriani <br>
                 </p>
                </a>
             </li>

             <li><a href="/views/expansões/Expansões.html">
              <h3>Extensões</h3>
              <p>
                Clique aqui para saber detalhadamente sobre as espansões.
              </p>
             </a>  
           </li>

           <li><a href="#">
            <h3>Vendas</h3>
             <p> 
                GTA III surgiu com um preço de US$49,95, tornando-se o jogo mais vendido de 2001 nos Estados Unidos. Posteriormente foi descontado para o preço 
                de US$19 depois de se tornar um dos "maiores sucessos" da sony. GTA III vendeu mais de 14,5 milhões de cópias. <br>
                GTA San Andreas tornou-se o jogo mais vendido de 2004, com mais de 27,5 milhões de cópias já tendo sido vendidas e permanecendo até hoje 
                como o jogo mais vendido do PS2 e um dos jogos mais vendido de todos os tempos. <br>
                GTA Vice City tornou-se o jogo mais vendido em 2002 com mais de 20 milhões de cópias. <br>
             </p>
            </a>
         </li>
         </ul>
        </section>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/v8P6My_cKuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href=/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <audio id="myAudio" controls>
      <source src="/Musicas/SanAndreas.mp3" type="audio/mpeg">
    </audio>
    <script src="/views/gta3/NewGTA3.js"></script>
</body>
</html>