<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gta2/NewGTA2.css">
    <title>GTA II</title>
</head>
<body>
    <header>
        <h1>GTA II</h1>
        <nav>
            <ul>
                <li><a href="/views/home/NewHome.html">Home</a></li>
                <li><a href="/views/forum/Forum.html">Fórum</a></li>
                <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
                <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
                <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
                <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
                <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
                <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
                <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
                <li><a href="/views/download/Download.html">Downloads</a></li>
                <li><a href="/views/login/Login.html">Login</a></li>
                <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
                <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>

              <li>
                <a href="#">
                  <h3>GTA II</h3>
                  <p>
                    Grand Theft Auto II (GTA2 ou GTA II), foi lançado no dia 22 de outubro em 1999, e 
                    em 22 de dezembro de 2004 (5 anos depois) foi liberado gratuitamente pela Rockstar para 
                    download no seu site oficial. <br>
                    O jogo foi classificado como um jogo somente para adultos (+18) por conter grande violência
                    e palavras de baixo calão.
                  </p>
                </a>
              </li>

              <li><a href="#">
                <h3>Características</h3>
                <p>
                    Diferentemente dos outros títulos, GTA 2 é ambientado em uma metrópole num futuro próximo.
                    Essa  cidade é referida apenas como Anywhere City. O ano que se passa a história também não 
                    é especificado, porém, no site do jornal fictício da cidade é informado que se passa no ano 
                    de 2013. <br> <br>
                    Anywhere City consiste em 3 distritos sendo eles: a primeira é a área central da cidade, chamada de Downtown
                    District. É onde se concentram os cassinos, hotéis, um grande hospital psiquiátrico e uma universidade.
                    <br> <br>
                    O segundo distrito é uma área residencial que se chama Residential District. É onde fica a prisão da cidade, 
                    um estacionamento de trailers com um club chamado Disgracelands que tem como tema Elvis Presley. (Uma referência à casa 
                    que Elvis morou, chamada Graceland), uma centro de pesquisa e uma hidrelétrica. <br>
                    O terceiro é o Industrial DIstrict, e como o nome diz, é uma área industrial. Nesse distrito, exite um frigorífico ou
                    "fábrica de carne" e um grande porto marítimo, além de um templo Krishna.
                    <br> <br>
                    O nome do personagem jogável é Claude Speed, recém liberado da prisão. Ele possui um problema de amnésia crônica.
                    O jogo pode ser jogado em dois modos (somente na versão para windowns): no mode "noon" (dia) ou "dusk" (noite).         
                    No modo "dusk", são mostrados vários efeitos de luz que não podem ser vistos no modo "noon". Esta noca tecnologia,
                    foi bem expandida no jogo seguinte, Grant Theft Auto III (GTA III).
                </p>
                </a>
              </li>

             <li><a href="#">
                <h3>Jogabilidade</h3>
                 <p> 
                    O objetivo de cada uma das três áreas é obter dinheiro suficiente para passar para a próxima. Para atingir o objetivo, 
                    você poderá executar qualquer tarefa que dê dinheiro: roubar carros, explorar, dar tiros, atropelar pessoas, assassinar, 
                    explodir carros, bater carros, pegar passageiros em um táxi (Embora não tenha missão de taxi, a pessoa permanece no carro 
                    em quanto o mesmo estiver em movimento apenas), entre outros. No entanto a norma para ganhar grandes quantias de dinheiro 
                    é a realização de missões para grandes organizações criminosas. Para acessar uma missão basta atender um dos telefones 
                    públicos que ficam tocando nas regiões dominadas por uma gangue, e dependendo da cor dos telefones maior será o nível de 
                    dificuldade das tarefas, sendo as mais fáceis dos verdes; os amarelos tem dificuldade moderada e os vermelho são as tarefas 
                    mais difíceis (As últimas de cada gangue). A cor do telefone, e da missão correspondente, é referente ao medidor de respeito 
                    respectivo.
                    <br> <br>
                    Cada vez que você completar uma missão para uma determinada gangue, o dinheiro multiplicador sobe em uma unidade, e este 
                    modificador influencia todo o dinheiro que você recebe para qualquer ação. Um diferencial deste jogo em relação a outros 
                    desta mesma série consiste na barra de respeito localizada no canto superior esquerdo da tela, e indica o quanto você é 
                    respeitado pelas gangues da região. Respeito este que varia de acordo com a forma como você lida com os membros da gangue 
                    (Se não respeitar a gangue, ou seja, matar vários membros dela, ela irá atacar com todas as armas disponíveis, dependendo 
                    do nível de respeito, quanto menor ele for, mais forte será o ataque, variando de simples pistolas até lança mísseis), bem 
                    como as missões que nos dão (Quanto mais respeito tiver, maior será a oferta de missões).
                    <br> <br>
                    Fazendo missões para uma das três gangues afeta negativamente as outras: cada uma tem uma gangue rival (No estilo "Pedra, 
                    Papel, Tesoura"), matando membros da gangue rival aumenta a sua relação com a primeira, enquanto a terceira permanece neutra.
                    Em Grand Theft Auto 2, você é responsável pelas ações ilegais cometidas. É por isso que a lei estará presente para frear (Ou 
                    pelo menos tentar) as ações ilegais. Ela não age apenas sob a forma de polícia local como o primeiro GTA, à medida que você 
                    comete delitos, mais e mais as forças policiais vão aderir. Assim, nos primeiros níveis, a polícia local será responsável pelas 
                    prisões; mais tarde a SWAT, o FBI e até mesmo, se for o caso, o exército, com tanques e infantaria. Você pode salvar o jogo em 
                    uma igreja com um sinal que indica "Jesus Saves", logo no início do nível. <br> <br>
                    Para isso, você deverá ter uma certa quantia em dinheiro. Desse ponto você poderá continuar o jogo, se assim desejar. Em caso 
                    de dúvida, aonde fica a igreja, você pode usar uma van com antena, que ela lhe levará para o local exato da igreja, onde você 
                    poderá salvar o jogo.
                 </p>
                </a>
             </li>

             <li><a href="#">
              <h3>Personagens</h3>
               <p> 
                - Claude Speed <br>
                - Bilovski <br>
                - Lodov <br>
                - Líder dos Yutes <br>
                - Doctor Zitzaki <br>
               </p>
              </a>
           </li>

           <li><a href="#">
            <h3>Gangues</h3>
             <p> 
                O jogo GTA 2, há sete grandes corporações criminosas (Gangues): uma gangue presente em todas as áreas e duas outras específicas 
                de cada área. <br> <br>
                - Zaibatsu Corporation: É uma indústria farmacêutica criadora de remédios genéticos e comida para bebês envolvida com o crime 
                    organizado. Atua em todas as áreas de Anywhere City e é dedicada a todas as empresas, de armas, carros, e drogas. O seu símbolo 
                    é um Z amarelo e o seu nome provém da palavra japonesa Zaibatsu, o que significa Cooperativa. Seus membros usam roupa preta e 
                    dirigem carros chamados "Z-Type", que tem um enorme "Z" no seu teto. Os seus líderes são: Trey Welsh (Em Downtown District, 
                    ou Distrito Central), Red Valdez (Em Residential District, ou Área Residencial) e Uno Carb (Em Industrial District, ou Área Industrial). <br>
                - Loonies: Operam em Downtown District (Distrito Central) e são dedicados principalmente às drogas. O seu símbolo é uma face sorrindo. Sua roupa 
                    é verde e seus carros são os "Dementia". Seu líder é Elmo. <br>
                - Yakuza: Opera em Downtown District (Distrito Central). São dedicados principalmente às drogas. O seu símbolo é um Y azul. Sua roupa é azul 
                    e seus carros são os "Miara". Seu líder é Johnny Zoo. <br>
                - SRS Scientists: Operam em Residential District (Área Residencial). São dedicados ao desenvolvimento de armas e clonagem, são 
                    os principais inimigos da Zaibatsu Corporation. O seu símbolo é um escudo. Suas roupas são amarelas e seus carros são os "Meteors". Seu líder 
                    é Dr. Labrat. <br>
                - Rednecks: Operam em Residential District (Área Residencial). Eles se dedicam a provocar o caos com bombas e com o ressurgimento 
                    das suas ideologias. O seu símbolo é uma bandeira da Confederação. Sua roupa é azul e seus carros são os "Redneck Pickup". Seu líder é Billy Bob Bean, 
                    um homem que se parece bastante com Elvis Presley. <br>
                - Krishna: Opera em Industrial District (Área Industrial). Eles se dedicam a convencer todas as pessoas a irem ao Nirvana, também estão em constante 
                    guerra por qualquer meio. O seu símbolo é uma flor laranja, e seu nome vem de Hare Krishna, uma organização religiosa da Índia. Suas roupas são laranja 
                    e seus carros são os ônibus "Karma Bus". a concentração da gangue é no templo Vedic. Seu líder é Sunbeam. <br>
                - Russian Mafia (Máfia Russa): Opera em Industrial District (Área Industrial). Eles estão envolvidos em explosivos, armas, indústrias, enfim, tudo, 
                    menos drogas. O seu símbolo é uma estrela vermelha de cinco pontas. Sua roupa é vermelha e seus carros são os "Bulwark". Seu líder é Jerkov. <br>
             </p>
            </a>
         </li>

         <li><a href="#">
          <h3>Armas</h3>
           <p> 
            No jogo GTA 2, o jogador poderá contar com dez armas diferentes, que variam desde pistolas até lançadores de mísseis. <br> <br> 
            - Pistol: É uma pistola comum, a arma mais comum do jogo. Usada geralmente pelas gangues quando o nível de respeito está um pouco baixo. Sempre aparece 
                no início dos níveis. <br>
            - S-Uzi Machine Gun: É uma metralhadora, que dispara em um pequeno período de tempo grande número de balas (Na contagem de balas, dez delas são 
                equivalente a uma). Usada por algumas das gangues quando o nível de respeito está baixo. <br>
            - Rocket Launcher: É uma arma que lança mísseis. É considerada a arma mais potente do jogo. É fácil explodir carros com essa arma. Usada pela gangue 
                Zaibatsu, em Industrial District (Área Industrial), quando o nível de respeito está o mais baixo possível. <br>
            - Electrogun: É uma arma que dá choques. É difícil de ser encontrada nos níveis. Não é usada por nenhuma gangue. <br>
            - Molotov Cocktail: São coquetéis de bomba. É fácil explodir carros com essa arma. É usada pela gangue Rednecks quando o nível de respeito está o mais 
                baixo possível e pela gangue Krishna quando o nível de respeito está baixo. <br>
            - Grenades: São granadas. Sua potência é igual a da Molotov Cocktail; a única diferença é que elas explodem após um curto período de tempo. As 
                granadas não conseguem parar em cima de carros. Assim como a Electrogun, são difíceis de serem encontradas e não são usadas por nenhuma gangue. <br>
            - Flamethrower: São armas lançadoras de fogo. Lançam grandes esguichos de fogo, como se fosse uma mangueira. São usadas pelas gangues SRS Scientists e 
                Krishna quando o nível de respeito está o mais baixo possível. <br>
            - Shotgun: É uma espingarda. Com um tiro, várias balas são lançadas. É usada pelas gangues Rednecks e pela Russian Mafia quando o nível de respeito 
                está baixo. <br>
            - Silenced S-Uzi Machine Gun: Às características dessa arma são iguais as da S-Uzi Machine Gun. A única diferença é que essa arma é silenciosa, ou 
                seja, não possui o barulho da metralhadora. Não é usada por nenhuma Gangue. <br>
            - Dual Pistol: São pistolas duplas, ou seja, em uma mesma arma são disparados dois tiros. É usada pela gangue Zaibatsu Corporation nos distritos 
                Residencial e Industrial, quando o nível de respeito está meio baixo. <br>
           </p>
          </a>
       </li>
          
       <li><a href="#">
        <h3>Curiosidades</h3>
         <p> 
            - GTA II e GTA III não possuem motos. <br>
            - Tem um file baseado em GTA II que se chama: GTA 2 - The Movie (GTA 2 - O Filme). <br>
         </p>
        </a>
     </li>
            </ul>
        </section>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RrKhHGRcoNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
                <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
                <li><a href="/views/regras/Regras.html">Regras</a></li>
                <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <div class="imag"></div>
    <audio id="myAudio" controls>
        <source src="/Musicas/Dó.mp3" type="audio/mpeg">
      </audio>
      <script src="/views/gta2/NewGTA2.js"></script>
</body>
</html>