<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/atualizacao/Atualizações.css">
    <title>Atualizações</title>
</head>
<body>
    <div class="imag"></div>
    <header>
        <h1>Atualizações</h1>
        <nav>
          <ul>
            <li><a href="/views/home/NewHome.html">Home</a></li>
            <li><a href="/views/forum/Forum.html">Fórum</a></li>
            <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
            <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
            <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
            <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
            <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
            <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
            <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
            <li><a href="/views/download/Download.html">Downloads</a></li>
            <li><a href="/views/login/Login.html">Login</a></li>
            <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
            <li><a onclick="logout()">Deslogar</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="topics">
          <h2>Últimas Atualizações</h2>
          <ul>
            <li>
              <a href="">
                <h3>GTA V</h3>
                <p>
                    Além de adicionar um novo capítulo de missões a GTA Online, a atualização se destaca por trazer 
                    um sistema de reflexos por Ray Tracing ao modo online e à campanha principal do game no PlayStation 
                    5 e no Xbox Series X. <br>
                    Segundo a desenvolvedora, a nova opção só vai estar disponível no “Modo Fidelidade” dos consoles, 
                    o que significa que o jogo estará travado a rodar em 30 quadros por segundo. No entanto, conforme 
                    mostram alguns vídeos publicados nas redes sociais, a alta qualidade dos efeitos acabam compensando 
                    essa limitação. <br>
                    Em um vídeo publicado pelo perfil @videotech_ no Twitter, o usuário mostra que até mesmo as pinturas 
                    cromadas de Grand Theft Auto V possuem reflexos em Ray Tracing. Os reflexos de alta qualidade também 
                    são notáveis em vidros e na maioria das superfícies reflexivas presentes no mundo aberto criado pela 
                    Rockstar Games.
                </p>
              </a>
            </li>
            <li>
              <a href="">
                <h3>Guerra das Drogas chega a Los Santos</h3>
                <p>
                    A atualização também marca a chegada de Los Santos Drug Wars, que traz novas opções para jogadores 
                    que desejam produzir e comercializar drogas ilegais. No entanto, sua expansão no mundo do crime não 
                    vai ser fácil: para conseguir novos clientes e expandir sua influência, os jogadores vão ter que 
                    lidar com os membros do The Last MC e outros inimigos. <br>
                    Segundo a Rockstar, as novas missões de GTA Online vão trazer o dobro de recompensas quando forem 
                    finalizadas pela primeira vez. Além de GTA$ e RP, será possível obter novos tipos de veículos e o 
                    Acid Lab, que permite ganhar ainda mais dinheiro e influência vendido psicodélicos dentro do game. 
                </p>
              </a>
            </li>
            <li>
              <a href="">
                <h3>GTA VI</h3>
                <p>
                    Que o GTA 6 está em desenvolvimento não é segredo para ninguém. O que os fãs realmente querem saber 
                    é quando vão poder jogar o próximo jogo da franquia, e a espera pode estar cada vez menor. Segundo 
                    um “leaker” conhecido, o jogo pode ser lançado no final de 2024. <br>
                    Na publicação do reddit, o usuário Tez2 revela que o objetivo da empresa é ter o lançamento do próximo 
                    GTA nos “holidays” -- festas de final de ano -- do ano que vem, mas que adiamentos sempre são possíveis, 
                    assim como já aconteceram muitas outras vezes. O leaker ainda diz que “infelizmente [o lançamento] pode 
                    mudar para o início de 2025”. <br>
                    Na publicação, Tez2 diz que o anúncio oficial deve acontecer ainda esse ano e acredita que é muito 
                    difícil os executivos da Rockstar adiarem o jogo para tarde mais do que o final do ano de 2025 ou início 
                    de 2026. O rumor ainda indica que a Rockstar teve que cortar conteúdo que inicialmente faria parte da base 
                    do jogo, mas que poderão ser aproveitados em futuras DLCs.
                </p>
              </a>
            </li>
            <li>
            <a href="">
                <h3>Fique Atento</h3>
                <p>
                    Fique atendo as novas atualizações, fique por dentro de tudo qua se passa no jogo!
                </p>
              </a>
            </li>

          </ul>
        </section>
        <section class="categories">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
            <li><a href="/views/regras/Regras.html">Regras</a></li>
            <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
          </ul>
        </section>
      </main>
</body>
</html>
<script>
  const login = "../login/login.html"
  firebase.auth().onAuthStateChanged((user) => {
    if (user) {
      // User is signed in
      // Allow access to other HTML files
    } else {
      // User is not signed in
      // Redirect to login page
      window.location.href = login;
    }
  });
  
</script>