<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/comunidade/Comunidade.css">
    <title>Comunidade</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>Comunidade</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="chat-container">
        <div class="chat-header">
          <h2>Chat da comunidade GTA</h2>
        </div>
        <div class="chat-messages">
          <ul id="messages">
            <!-- Aqui serão adicionadas as mensagens -->
          </ul>
        </div>
        <div class="chat-input">
          <input id="name" type="text" placeholder="Seu nome">
          <input id="message" type="text" placeholder="Digite sua mensagem aqui...">
          <button id="send">Enviar</button>
        </div>
    </div>
    <main>
        <section class="topics">
          <h2>Sobre a Comunidade</h2>
          <ul>
            <li>
              <a href="#">
                <h3>Criadores</h3>
                    <p>
                        • Emilly <br>
                        • Gabriel <br>
                        • Rebeka
                    </p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3>Administradores</h3>
                <p>
                    • Emilly <br>
                    • Gabriel <br>
                    • Rebeka
                </p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3>Moderadores</h3>
                <p>
                    • Emilly <br>
                    • Gabriel <br>
                    • Rebeka
                </p>
              </a>
            </li>
            <li>
                <a href="/views/regras/Regras.html">
                <h3>Regras</h3>
                <p>Aqui estão algumas das regras do nosso Fórum</p>
                </a>
            </li>
            <li>
                <a href="https://discord.gg/xaYD4fKpzE">
                <h3>Discord</h3>
                <p>Clique para acessar nosso discord, para interagir, conhecer novas pessoas e muito mais.</p>
                </a>
            </li>
          </ul>
        </section>
        <section class="categories">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
            <li><a href="/views/regras/Regras.html">Regras</a></li>
            <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
          </ul>
        </section>
      </main>
    <script src="/views/comunidade/comunidade.js"></script>
    <div class="imag"></div>
    <footer>
      <p>© 2023 Meu Fórum</p>
    </footer>
</body>
</html>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    const firebaseConfig = {

      apiKey: "AIzaSyAjxgYLuiOV5OsNbBhwSh8OYYlZ7Nhoznc",
      authDomain: "emilyteste-48d45.firebaseapp.com",
      projectId: "emilyteste-48d45",
      storageBucket: "emilyteste-48d45.appspot.com",
      messagingSenderId: "524687159099",
      appId: "1:524687159099:web:0f8874d185d8281807511e",
      measurementId: "G-XDER2MH4XL"
  };

  firebase.initializeApp(firebaseConfig);

    // Log out function
    function logout() {
      firebase.auth().signOut()
        .then(() => {
          // Sign-out successful.
          alert("Deslogado com sucesso");
          window.location.href = "../login/login.html"; // Redirect to login.html
        })
        .catch((error) => {
          // An error happened.
        });
    }
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in, allow access to the HTML file
      } else {
        alert("usuário não logado, faça seu login")
        window.location.replace("../login/login.html");
      }
    });
    
  </script>