<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/cidades-rp/Cidades_RP.css">
    <title>Cidades</title>
</head>
<body>
    <header>
        <h1>Cidades GTA RP</h1>
        <nav>
          <ul>
            <li><a href="/views/home/NewHome.html">Home</a></li>
            <li><a href="/views/forum/Forum.html">Fórum</a></li>
            <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
            <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
            <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
            <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
            <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
            <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
            <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
            <li><a href="/views/download/Download.html">Downloads</a></li>
            <li><a href="/views/login/Login.html">Login</a></li>
            <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
            <li><a onclick="logout()">Deslogar</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="topics">
          <h2>Algumas Cidades de GTA RP e Como Entrar</h2>
          <ul>
            <li>
              <a href="https://discord.com/invite/cidadealtarp">  
                <h3>Cidade alta</h3>
                <p>
                    É um dos melhores servidores de GTA RP. Isso por conta da sua organização, dos eventos e das pessoas que o frequentam
                    ou que já frequentaram. Quem está por trás da sua criação é o PlayHard, fundador da Loud. <br>
                    Por ser um dos maiores servidores de GTA RP algumas marcas bem famosas já promoveram eventos por lá, sendo elas: <br> <br>
                    • Ifood <br>
                    • Jeep <br>
                    • Outback <br>
                    • Trident <br>
                    • Tinder <br>
                    • Engov <br>
                    • Brahma <br>
                    • Submarino <br> <br>
                    E muitos famosos também já apareceram por lá: <br> <br>
                    • Anitta <br>
                    • Luisa Sonza <br>
                    • Gabriel Jesus <br>
                    • Mumuzinho <br>
                    • Léo Santana <br>
                    • Mc Caveirinha <br>
                    • Lia Clark <br>
                    • Pepita <br>
                    • Monobloco <br> 
                    E muitos outros famosos. <br> <br>
                    Por ser gigante é bem concorrida, por isso você precisa entrar no servidor deles do discord e ficar de olho quando as whitelist 
                    abrem. <br>
                    Sugerimos que vocês dêm uma olhada nas regras de conduta deles para fazer o processo da whitelist. Estude e fique afiado e com tudo na ponta da língua
                    e suas chances de entrar serão maiores. <br> (Cique aqui e entre no discord do Cidade Alta).
                </p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/wmzrDJBCJK">
                <h3>Nox City</h3>
                <p>
                    Também um dos melhores servidores de GTA RP, com aproximadamente 2 anos de história, trata-se como um veterano no modo de jogo. <br>
                    Eles se colocam como o servidor mais otimizado do Brasil e se colocam também como bem solícitos para ajudar a resolver problemas. <br>
                    Em fevereiro entraram na 5° temporada e recentemente também realizaram o evento de Uma Noite de Crime. Simulando o filme "The Purge". 
                    É um servidor bem menor que o Cidade Alta e outros nomes famosos que vamos citar. Então é uma boa opção para quem quer chegar e jogar
                    logo o rp sem passar por WL demoradas ou concorridas. <br>
                    Assim como no Cidade Alta, o Nox também tem o processo de whitelist, mas ela não é difícil de passar, basta você só conhecer as regras
                    do roleplay e responder as perguntas. <br> (Cique aqui e entre no discord da Nox City).
                </p>
              </a>
            </li>
            <li>
              <a href="https://discord.com/invite/cAjYvAbtZY">
                <h3>Bahamas</h3>
                <p>
                    O Bahamas é outro servidor gigante. Com mais de 30 mil seguidores no instagram, eles contam com a parcerias como: <br> <br>
                    • KaBuM! <br>
                    • Bullguer <br>
                    Para vocês terem ideia, já tiveram ações da KaBuM! onde você fazia entregas para a marca. As ações contaram até com funcionário 
                    do mês, em que os melhores funcionários no jogo ganhavam um prêmio na vida real de recompensa. <br>
                    O Bahamas é um servidor bem reconhecido, tondo eventos e associações com boas marcas.  <br> <br>
                    Você pode entrar na cidade pelo discord, e participando do processo de Whitelist, que pode ser demorada. Mas se você quiser existe a função 
                    "furar-fila" na qual consiste em vocÊ pagar para que as suas respostas sejam lidas com mais rapidez.  <br>
                    (Cique aqui e entre no discord do Bahamas).
                </p>
              </a>
            </li>
            <li>
                <a href="https://discord.com/invite/hyperoleplay">
                <h3>Hyper City</h3>
                <p>
                    Se você gosta muitos dos carros no GTA V e curte os mods e adaptações que envolvem esses elementos, com certeza você pode se interessar 
                    pala Hype. Nessa cidade tem um grande leque de oções de veículos com algumas marcas famosas. <br>
                    Assim, a imersão de quem curte essa temática fica ainda mais incisiva. Além disso, no que diz respeito ao tamanho, trata-se de uma cidade 
                    bem reconhecida. São mais de 80 mil seguidores no instagram e recentemente revelou uma parceria com a Uber, que entrou na plataforma como serviço.  <br><br>
                    Você pode entrar na cidade pelo discord com o mesmo processo de whitelist, mas, segundo seu FAC no discord, ela tem um tempo de espera de até um mês para ler todos os formulérios de quem
                    pede para entrar. <br>
                    Caso você queira agilizar o processo, pode fazer uma doação. Ai apartir dela seu formulário é lido com antecedência e você ainda ganha alguns benefícios 
                    durante determinado tempo, como a posse de um veículo específico ou uma casa. <br>
                    A doação não é obrigatória e você precisa enviar o comprovante de pagamento para os ADMs. É indicado que você esteja bastante confiante com suas respostas do 
                    formulário caso queira fzer por esse método. Por que se elas estiverem erradas, você não entrará da mesma forma. <br>
                    (Cique aqui e entre no discord da Hyper).
                </p>
                </a>
            </li>
            <li>
                <a href="https://discord.com/invite/UX4EmTbf">
                <h3>Complexo</h3>
                <p>
                    Foi criado pela Fluxo, uma organização de FreeFire, formada pelo Nobru e Cerol. Seu lançamento contou até com a presença do Mc Poze do Rodo. <br>
                    Você pode desenvolver o seu Roleplay nessa que é também uma das maiores cidades dos servidores brasileiros. Contando com a presença de vários eventos e 
                    figuras conhecidas que andam pelo mapa. <br>
                    Você entra a partir da Allowlist, que você no discord deles, assim como os demais. <br>
                    (Cique aqui e entre no discord do Complexo).
                </p>
                </a>
            </li>
            <li>
                <a href="https://discord.com/invite/guarulhosinfinity">
                <h3>Guarulhos Infinity</h3>
                <p>
                    Eles têm como base a temática da cidade de Guarulhos, da grande São Paulo. Ou seja, sua ambientação é bem brasileira. Com serviços como da UPA, ou 
                    modificações das roupas para colocar as polícias como ROTA ou PM. <br>
                    Além disso, é possível configurar a qualidade do jogo. Assim rola de rodar o jogo de um jeito mais leve, que não trave nem pese tanto. Então é uma indicação 
                    para quem quer jogar GTA RP e não tem um pc tão potente, talvez na Guarulhos funcione melhor. <br>
                    Você entra na cidade pelo discord, e entra no processo de whitelist. <br>
                    (Cique aqui e entre no discord do Guarulhos Infinity).
                </p>
                </a>
            </li>
          </ul>
        </section>
        <section class="categories">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/atualizacao/Atualizações.html">Atualizações</a></li>
            <li><a href="/regras/Regras.html">Regras</a></li>
            <li><a href="/comunidade/Comunidade.html">Comunidade</a></li>
          </ul>
        </section>
      </main>
      <div class="imag"></div>
      <footer>
        <p>© 2023 Meu Fórum</p>
      </footer>
      <script src=""></script>
</body>
</html>