<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/forum/Forum.css">
    <title>Fórum</title>
</head>
<body>
    <header>
        <h1>GTA Fórum</h1>
        <nav>
          <ul>
            <li><a href="/views/home/NewHome.html">Home</a></li>
            <li><a href="/views/forum/Forum.html">Fórum</a></li>
            <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
            <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
            <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
            <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
            <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
            <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
            <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
            <li><a href="/views/download/Download.html">Downloads</a></li>
            <li><a href="/views/login/Login.html">Login</a></li>
            <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
            <li><a onclick="logout()">Deslogar</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="topics">
          <h2>Últimos Tópicos</h2>
          <ul>
            <li>
              <a href="#">
                <h3>Sugestões e ideias</h3>
                <p>
                  Aqui você pode deixar suas sugestões e ideias.
                </p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3>Veículos</h3>
                <p>Aqui você pode falar sobre os veículos do jogo, sejam eles carros, motos bicicletas e entre outros.</p>
              </a>
            </li>
            <li>
                <a href="#">
                <h3>Armas</h3>
                <p>Aqui você pode falar sobre todas as armas do jogo.</p>
                </a>
            </li>
            <li>
                <a href="#">
                <h3>Mapa</h3>
                <p>Aqui você pode falar sobre o mapa, as cidades, coisas escondidas no mapa, e lugares que ainda não foram tão bem desenvolvidos.</p>
                </a>
            </li>
            <li>
              <a href="/views/missoes/Missoes.html">
                <h3>Missões</h3>
                <p>
                  Aqui você pode falar sobre as missões.
                </p>
              </a>
            </li>
          </ul>
        </section>
        <section class="categories">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
            <li><a href="/views/regras/Regras.html">Regras</a></li>
            <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
          </ul>
        </section>
      </main>
      <footer>
        <p>© 2023 Meu Fórum</p>
      </footer>
      <script src="/pages/forum/Forum.js"></script>
</body>
</html>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    const firebaseConfig = {

      apiKey: "AIzaSyAjxgYLuiOV5OsNbBhwSh8OYYlZ7Nhoznc",
      authDomain: "emilyteste-48d45.firebaseapp.com",
      projectId: "emilyteste-48d45",
      storageBucket: "emilyteste-48d45.appspot.com",
      messagingSenderId: "524687159099",
      appId: "1:524687159099:web:0f8874d185d8281807511e",
      measurementId: "G-XDER2MH4XL"
  };

  firebase.initializeApp(firebaseConfig);

    // Log out function
    function logout() {
      firebase.auth().signOut()
        .then(() => {
          // Sign-out successful.
          alert("Deslogado com sucesso");
          window.location.href = "../login/login.html"; // Redirect to login.html
        })
        .catch((error) => {
          // An error happened.
        });
    }
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in, allow access to the HTML file
      } else {
        alert("usuário não logado, faça seu login")
        window.location.replace("../login/login.html");
      }
    });
    
  </script>