<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/home/NewHome.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>GTA Home</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>
              <li>
                <a href="#">
                  <h3>GTA</h3>
                  <p>Grand Theft Auto (GTA) é uma série de jogos eletrônicos criada por David Jones
                    e Mike Dailly, e foi posteriormente gerenciada pelos irmãos Dan e Sam Houser, Leslie
                    Benzies e Aaron Garbut. <br>
                    A maioria dos jogos foi desenvolvido pela Rockstar Noth (Antiga DMA Design) e publicada
                    pela Rockstar Games.
                  </p> <br>
                  <p>
                    O nome da série é um termo policial utilizado nos Estados Unidos para identificar roubos de automóveis: 
                    Grand Theft refere-se a furtos de valor elevado (maior que US$ 400,00) e Auto designa os automóveis.
                    O nome desse crime, no Brasil, é Roubo Qualificado de Automóveis e em Portugal designa-se por carjacking.
                  </p>
                </a>
              </li>
              <li><a href="#">
                <h3>Um Pouco da História</h3>
                <p>
                  Os jogos da série se passam em cidades fictícias dominadas pelo crime e pelas gangues de rua, 
                  fortemente modeladas com base em grandes metrópoles, principalmente dos Estados Unidos. O personagem 
                  jogável (um criminoso, protagonista de um enredo repleto de atividades ilegais, como violência, 
                  tráfico de drogas, assassinato, prostituição etc.) pode cumprir missões para o progresso da história, 
                  bem como participar de ações não lineares num mundo aberto, consistindo de ação, aventura, RPG, corridas,
                  entre outros. GTA também faz homenagens a diversas personalidades, como por exemplo Eazy-E, que inspirou 
                  o personagem Ryder em Grand Theft Auto: San Andreas.
                </p>
                </a>
              </li>
              <li><a href="#">
                <h3>Vendas</h3>
                  <p>
                    A franquia, assim como Call of Duty, é um dos produtos de entretenimento mais rentáveis da história, 
                    arrecadando com seu último jogo quase um bilhão de dólares nas primeiras 24 horas de lançamento. 
                    Bateu também vários recordes no Guinness Book, inclusive como o jogo de ação de videogame a alcançar 
                    o maior valor em vendas em 24 horas. A franquia foi também considerada pelo The Telegraph como uma 
                    das maiores exportações do Reino Unido. Até Novembro de 2016, a série Grand Theft Auto já havia 
                    vendido mais de 250 milhões de cópias, tornando-se assim na quinta franquia de videogames mais vendida 
                    de todos os tempos.  
                  </p>
                </a>
              </li>
            </ul>
        </section>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <div class="image"></div>
    <audio id="myAudio" controls>
      <source src="/Musicas/Caradocrime.mp3" type="audio/mpeg">
    </audio>
    <script src="/views/home/NewHome.js"></script>
</body>
</html>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    const firebaseConfig = {

      apiKey: "AIzaSyAjxgYLuiOV5OsNbBhwSh8OYYlZ7Nhoznc",
      authDomain: "emilyteste-48d45.firebaseapp.com",
      projectId: "emilyteste-48d45",
      storageBucket: "emilyteste-48d45.appspot.com",
      messagingSenderId: "524687159099",
      appId: "1:524687159099:web:0f8874d185d8281807511e",
      measurementId: "G-XDER2MH4XL"
  };

  firebase.initializeApp(firebaseConfig);

    // Log out function
    function logout() {
      firebase.auth().signOut()
        .then(() => {
          // Sign-out successful.
          alert("Deslogado com sucesso");
          window.location.href = "../login/login.html"; // Redirect to login.html
        })
        .catch((error) => {
          // An error happened.
        });
    }
  </script>