<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gtarp/NewGTARP.css">
    <title>GTA RP</title>
</head>
<body>
    <div class="imag"></div>
    <header>
        <h1>GTA Roleplay</h1>
        <nav>
          <ul>
            <li><a href="/views/home/NewHome.html">Home</a></li>
            <li><a href="/views/forum/Forum.html">Fórum</a></li>
            <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
            <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
            <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
            <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
            <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
            <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
            <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
            <li><a href="/views/download/Download.html">Downloads</a></li>
            <li><a href="/views/login/Login.html">Login</a></li>
            <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
            <li><a onclick="logout()">Deslogar</a></li
          </ul>
        </nav>
      </header>
      <main>
        <section class="topics">
          <h2>Sobre</h2>
          <ul>
            <li>
              <a href="">
                <h3>GTA RP</h3>
                <p>GTA V RP ou Roleplay, é uma versão modificada do game da Rockstar que simula um metaverso na 
                    cidade de Los Santos. Desenvolvida por usuários, a versão utiliza servers extraoficiais para 
                    criar uma jogatina seguindo regras preestabelecidas onde os jogadores precisam interpretar o 
                    papel de "pessoas comuns". Usando a versão online de Grand Theft Auto V para PC como base, o 
                    título precisa de mods para funcionar e o jogador poder seguir a narrativa definida. Assim, 
                    para acessá-la, é preciso baixar o FiveM, uma plataforma que permite acesso multiplayer aos 
                    servidores customizados.
                </p>
              </a>
            </li>
            <li>
              <a href="">
                <h3>O que é Roleplay?</h3>
                <p>Roleplay é uma simulação ou encenação de um evento real, que remete a uma situação cotidiana, 
                   geralmente repetitiva, e que necessite de aperfeiçoamento e atualização constante. É muito usada 
                   em treinamentos de equipes de vendas e outras funções de atendimento direto ao público.
                </p>
              </a>
            </li>
            <li>
              <a href="">
                <h3>Jogabilidade</h3>
                <p>
                    Os jogadores podem se unir ao servidor de RP e criar seus personagens. Eles vivem suas vidas 
                    virtuais, trabalhando em empregos, comprando carros, comprando propriedades, jogando jogos 
                    de azar, etc. <br>
                    É possível também se envolver em atividades ilegais, como roubo de carros e assaltos, ou 
                    se envolverem em atividades legais, como jogos de azar e trabalhos de entrega. <br>
                </p>
              </a>
            </li>
            <li>
            <a href="">
                <h3>Vantagens de Jogar GTA RP</h3>
                <p>
                    • Primeiro, é um jogo de RPG com mundo aberto, o que significa que os jogadores podem ir para 
                    qualquer parte da cidade e desfrutar da liberdade de escolher as suas próprias ações. <br>
                    • Além disso, muitas vezes os jogadores estão jogando com outras pessoas do mundo real, o que 
                    lhes permite se envolver em interações sociais. <br>
                    • Por último, o jogo é muito versátil, permitindo que os jogadores vivam suas vidas como eles desejam.
                </p>
              </a>
            </li>
        <li>
        <a href="">
            <h3>Como jogar GTA RP?</h3>
            <p>
                • Você precisa ter uma conta na Steam, Epic Games ou tenha o jogo diretamente da loja da Rockstar; <br>
                • Ter o jogo base Grand Theft Auto V (GTA V); <br>
                • Ter um computador ou um console com as especificações mínimas para rodar o jogo; <br>
                • Ter o FiveM instalado (Na aba de downloads tem o link direto para baixar); <br>
                • Se conectar em um servidor específico;
            </p>
          </a>
        </li>
        <li>
            <a href="">
                <h3>Requisitos Mínimos</h3>
                <p>
                    • Sistema Operacional: Windows 8.1 64 bit, Windows 8 64 bit, Windows 7 64 bit ou Windows Vista 64 bit; <br>
                    • Processador: Intel Core 2 Q6600 de 2.40GHz, AMD Phenom 9850 de 2.5GHz; <br>
                    • Memória: 4 GB de RAM; <br>
                    • Placa de Vídeo: NVIDIA 9800 GT 1GB ou AMD HD 4870 1GB (DX,10, 10.1, 11); <br>
                    • Armazenamento: 72 GB para o jogo + 4GB para o mod; 
                </p>
              </a>
            </li>
            <li>
                <a href="">
                    <h3>Requisitos Recomendados</h3>
                    <p>
                    • Sistema Operacional: Windows 8.1 ou Windows 10 com as últimas atualizações instaladas; <br>
                    • Processador: Intel Core i5 3470 de 3.2GHz ou AMD X8 FX-8350 de 4GHz; <br>
                    • Memória: 16GB; <br>
                    • Placa de Vídeo: NVIDIA GTX 660 2GB ou AMD HD 7870 2GB; <br>
                    • Armazenamento: 72GB para o jogo + 8GB para o mod; <br>
                    </p>
                </a>
                </li>
                <li>
                  <a href="/views/cidades-rp/Cidades_RP.html">
                    <h3>Cidades de GTA RP</h3>
                    <p>Aqui estão o link de algumas cidades para entrar e se divertir com seus amigos.</p>
                  </a>
                </li>
          </ul>
        </section>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CaHofLaD9XE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
            <li><a href="/views/regras/Regras.html">Regras</a></li>
            <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
          </ul>
        </section>
      </main>
      <audio id="myAudio" controls>
        <source src="/Musicas/CPXtapega.mp3" type="audio/mpeg">
      </audio>
      <script src="/views/gtarp/NewGTARP.js"></script>
</body>
</html>