<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/expansões/Expansões.css">
    <title>Expansões</title>
</head>
<body>
    <header>
        <h1>Expansões</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Cada Expansão</h2>
            <ul>

              <li>
                <a href="/views/sanadreas/SanAndreas.html">
                  <h3>San Andreas</h3>
                  <p>
                    Clique aqui para saber sobre GTA San Andreas.
                  </p>
                </a>
              </li>
              <li>
                <a href="/views/libertycity/LibertyCity.html">
                  <h3>Liberty City</h3>
                  <p>
                    Clique aqui para saber sobre GTA Lyberty City.
                  </p>
                </a>
              </li>
              <li>
                <a href="/views/vicecity/ViceCity.html">
                  <h3>Vice City</h3>
                  <p>
                    Clique aqui para saber sobre GTA Vice City.
                  </p>
                </a>
              </li>
        </section>

        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
</body>
</html>