<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gta1/NewGTA1.css">
    <title>GTA I</title>
</head>
<body>
    <header>
        <h1>GTA I</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>

              <li>
                <a href="#">
                  <h3>GTA I</h3>
                  <p>
                    Gran Theft Auto (GTA) foi lançado em 1997 como o primeiro jogo
                    da franquia. O jogo é em 2D e foi criado para PCs, nele contem 3 
                    cidades sendo elas:
                    <br>
                    - Liberty City - Nova York <br>
                    - San Andreas - São Francisco <br>
                    - Vice city - Miami <br>
                    As mesmas fazem referência as grandes cidades do Estados Unidos, 
                    Nova York, São Francisco e Miami.
                  </p>
                </a>
              </li>

              <li><a href="#">
                <h3>Jogabilidade</h3>
                <p>
                  O jogo é composto de vários níveis de dificuldade em cada uma das 
                  três cidades. Em cada um desses níveis, o jogador tem um certo número de 
                  pontos para conseguir, e cinco vidas para completas a missão. <br>
                  O contador de pontuação dobra o marcador de dinheiro. Esse dinheiro
                  pode ser gasto pelo jogador para pintar o carro e para diversas outras coisa. <br><br>
                  Após obter o número de alvo de pontos, o jogador deve então ir até um determinado local
                  para poder avançar para a próxima missão. Além disso o jogador é livre para fazer o que 
                  quiser tanto dentro quanto fora das missões. Porém, o destino das missões é sempre fixo e 
                  tendo somente algumas vidas a disposição, o jogo pode ficar pouco limitado.
                </p>
                </a>
              </li>

             <li><a href="#">
                <h3>Missões</h3>
                 <p> 
                  As missões são normalmente iniciadas por meio de telefones públicos que o jogador pode
                  atender, mas também existem missões que são iniciadas ao entrar em um veículo. No início 
                  de cada missão, o jogador receberá uma série de instruções sobre o que deve fazer. Essas instruções 
                  são dadas em etapas, assim os objetivos podem mudar em uma dada situação. 
                 </p>
                </a>
             </li>

             <li><a href="#">
              <h3>Personagens</h3>
               <p> 
                No jogo, o jogador pode escolher entre oito diferentes protagonistas, (nove na versão de GameBoy Color)
                e até mudar o nome deles. No entanto, diferente de Grand Theft Auto V, o jogador não pode alterar o nome deles. <br>
                - Bubba <br>
                - Divine <br>
                - Katie <br>
                - Kivlov <br>
                - Mikki Hiiri <br>
                - Travis <br>
                - Troy <br>
                - Ulrika <br>
                - Kelly (Apenas no GBC) <br>
               </p>
              </a>
           </li>

           <li><a href="#">
            <h3>Extensões</h3>
             <p> 
              Grand Theft Auto: London 1969 foi o primeiro pacote de expansão lançado para GTA 1 e o primeiro da série. 
              Em seguida foi lançado Grand Theft Auto: London 1961, expansão do London 1969. <br>
              - Grand Theft Auto: London 1969 foi lançado em 1999, é uma expansão independente 
              do primeiro jogo e tem como cenário principal Londres. A expansão introduz 30 novos veículos, 32 novas
              missões, e em vez de locais de ficção baseados em cidades da vida real, como em GTA I, o jogo tem lugar
              em londres em 1969. O jogador mais uma vez faz papel de criminoso envolvido no crime organizado. <br>
              - Grand Theft Auto: London 1961 lançado também em 1999 como um pacote de expansão de Grand Theft Auto: London 1969,
              apenas para PC. Como o nome indica, o jogo tem lugar em Londres no ano de 1961, oito anos antes dos acontecimentos 
              que tiveram lugar em Londres, 1969. A definição de 1961 torna este pack mais antigo do jogo, ou um "Stories" do Grand 
              Theft Auto cronologicamente. <br>
              Londres 1961 é o jogo menos conhecido da série,além do Grand Theft Auto Advance,simplesmente porque o jogo não foi 
              fortemente promovido pela Rockstar Games,está disponível apenas como download, e não aparece proeminentemente no 
              site da Rockstar Games.O jogo depende de fóruns de discussão de boca em boca e internet para se tornar conhecido 
              pelos fãs da série.
             </p>
            </a>
         </li>

         <li><a href="#">
          <h3>Curiosidades</h3>
           <p> 
            - GTA: London 1969 , juntamente com o GTA London 1961 , são os únicos jogos da série GTA a serem ambientados 
              fora dos Estados Unidos e apresentados em um local da vida real. <br>
            - O número 69 em 1969 poderia ser o humor da Rockstar referindo-se à posição 69 do sexo. Se isso for verdade, 
              então GTA London 1969 é o primeiro jogo GTA a usar essa referência. <br>
            - Este jogo foi lançado no mesmo dia que Grand Theft Auto IV (29 de abril), mas nove anos antes. <br>
            - Os jogos GTA London e Grand Theft Auto 2 são os únicos jogos GTA a usar a abreviatura GTA na capa. <br>
            - GTA: Londres 1961 foi frequentemente notada por sua dificuldade em comparação com o 69 e o GTA original, 
              principalmente devido às restrições de tempo muito rigorosas impostas a muitas missões.
           </p>
          </a>
       </li>
          
       <li><a href="#">
        <h3>Vendas</h3>
         <p> 
          Grand Theft Auto permaneceu durante 26 semanas na lista dos mais vendidos do Reino Unido, algo extremamente 
          incomum já que jogos mais antigos sempre perdem lugar para novos lançamentos. As vendas mesmo assim foram modestas, 
          porém mantiveram-se estáveis em aproximadamente dez mil cópias por semana. Isso ocorreu muito por conta do boca a 
          boca de diversos jogadores recomendando o título a outros. Ele vendeu por volta de quinhentas mil cópias em território 
          britânico, arrecadando uma quantia de 25 milhões de libras esterlinas, muito acima do orçamento total do jogo, que 
          consistiu principalmente nos salários da equipe. No final, o jogo veio a vender mais de um milhão de cópias mundialmente 
          e gerou milhões em receita para suas companhias envolvidas.
         </p>
        </a>
     </li>
            </ul>
        </section>
        <div id="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ahOIJNLLtkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <audio id="myAudio" controls>
      <source src="/Musicas/Still.mp3" type="audio/mpeg">
    </audio>
    <script src="/views/gta1/NewGTA1.js"></script>
</body>
</html>