<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/views/cadastro/Cadastro.css">
</head>
<body>
    <header>
    <h1>Cadastro</h1>
    <nav>
        <ul>
            <li><a href="/views/home/NewHome.html">Home</a></li>
            <li><a href="/views/forum/Forum.html">Fórum</a></li>
            <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
            <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
            <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
            <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
            <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
            <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
            <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
            <li><a href="/views/download/Download.html">Downloads</a></li>
            <li><a href="/views/login/Login.html">Login</a></li>
            <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
        </ul>
    </nav>
</header>
    <div class="register-box">
        <h2>Cadastro</h2>
        <form id="register-form">
            <div class="user-box">
                <input type="text" name="username" id="username" required="">
                <label for="username">Usuário</label>
                <span id="username-error"></span>
            </div>
            <div class="user-box">
                <input type="email" name="email" id="email" required="">
                <label for="email">Email</label>
                <span id="email-error"></span>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="password" required="">
                <label for="password">Senha</label>
                <span id="password-error"></span>
            </div>
            <div class="user-box">
                <input type="password" name="confirm_password" id="confirm_password" required="">
                <label for="confirm_password">Confirmar Senha</label>
                <span id="confirm_password-error"></span>
            </div>
            <button type="submit">Cadastrar</button>
            <p>Já tem uma conta? <a href="/views/login/Login.html">Faça login aqui</a></p>
        </form>
    </div>
    <div class="imag"></div>
    <script src="/views/cadastro/Cadastro.js"></script>
    <footer>
        <p> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br> © 2023</p>
    </footer>
</body>
</html>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
<script>
    const login = "../login/login.html"
    const firebaseConfig = {

        apiKey: "AIzaSyAjxgYLuiOV5OsNbBhwSh8OYYlZ7Nhoznc",
        authDomain: "emilyteste-48d45.firebaseapp.com",
        projectId: "emilyteste-48d45",
        storageBucket: "emilyteste-48d45.appspot.com",
        messagingSenderId: "524687159099",
        appId: "1:524687159099:web:0f8874d185d8281807511e",
        measurementId: "G-XDER2MH4XL"
    };

    firebase.initializeApp(firebaseConfig);

    const signupForm = document.getElementById('register-form');

    signupForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

    firebase.auth().createUserWithEmailAndPassword(email, password)
        .then((userCredential) => {
        // User is signed up.
            const user = userCredential.user;
            alert("Usuário criado com sucesso");
            window.location.href = login;
        })
        .catch((error) => {
        // Handle errors here.
            const errorCode = error.code;
            const errorMessage = error.message;
            console.log(errorCode, errorMessage);
        });
    });
</script>
