<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gta6/NewGTA6.css">
    <title>GTA VI</title>
</head>
<body>
    <header>
        <h1>GTA VI</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>

              <li>
                <a href="#">
                  <h3>GTA VI</h3>
                  <p>
                    Grand Theft Auto VI ainda não tem data de lançamento, nem trailler oficial. Já fazem 10 anos que não lançam um novo jogo da
                    franquia, mas todos estão bastente anciosos com o GTA VI, ele estara disponivel para PS5, Xbox Serie X, Xbox Serie S e para PC. 
                    Ele provavelmente vai passar em uma cidade baseada em Miami e sua região, o que deve garantir uma vibe similar ao clássico GTA 
                    Vice City, o mapa promete ser gigante e com mais áreas para serem exploradas que GTA V. O game também deve receber novas cidades
                    em atualizações, o que deve garantir bastante logevidade ao game. <br>
                    Segundo vazamentos, o game terá uma protagonista feminina em desenvolvimento. Enquanto no primeiro GTA contava com mulheres jogáveis,
                    o novo jogo trará uma garota de origem latina com desenvolvimento de história em um papel de liderança do jogo. A protagonista 
                    do novo GTA pode ser interpretada pela atriz Alexandra Cristina Echavarri, que colocou uma informação em seu currículo dando a entender
                    que estará presente no projeto da Rockstar. Além da personagem feminina, o game terá uma pessoa para fazer par com ela, em uma dinâmica 
                    ao estilo Bonnie e Clyde, segundo as especulações.
                  </p>
                </a>
              </li>
        </section>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OMcBd-kHJ7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <audio id="myAudio" controls>
      <source src="/Musicas/Rarin-Yessir.mp3" type="audio/mpeg">
    </audio>
    <script src="/views/gta6/NewGTA6.js"></script>
</body>
</html>