<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Tópico</title>
  <link rel="stylesheet" href="/views/missoes/Missoes.css">
</head>
<body>
  <div class="topic-container">
    <h1 class="topic-title">Missões</h1>
    <p class="topic-description">Descrição do tópico. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nulla ac quam malesuada iaculis. Donec vestibulum urna massa, sed vestibulum elit ultricies a. Quisque aliquet ultricies ante, quis luctus lorem feugiat ac. Sed eu quam eget velit eleifend hendrerit. Etiam rutrum tristique ex sit amet sagittis. </p>
    <div class="topic-info">
      <p class="topic-author">Autor: Fulano de Tal</p>
      <p class="topic-date">Data: 30/03/2023</p>
      <p class="topic-views">Visualizações: <span id="views-count">0</span></p>
    </div>
  </div>
  <div class="comment-container">
    <h2 class="comment-title">Comentários</h2>
    <form id="comment-form">
      <label for="comment-input">Adicione um comentário:</label>
      <textarea id="comment-input" name="comment-input" rows="4"></textarea>
      <button type="submit">Enviar</button>
    </form>
    <ul id="comment-list"></ul>
  </div>
  <script src="/views/missoes/Missoes.js"></script>
</body>
</html>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    const firebaseConfig = {

      apiKey: "AIzaSyAjxgYLuiOV5OsNbBhwSh8OYYlZ7Nhoznc",
      authDomain: "emilyteste-48d45.firebaseapp.com",
      projectId: "emilyteste-48d45",
      storageBucket: "emilyteste-48d45.appspot.com",
      messagingSenderId: "524687159099",
      appId: "1:524687159099:web:0f8874d185d8281807511e",
      measurementId: "G-XDER2MH4XL"
  };

  firebase.initializeApp(firebaseConfig);

  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      // User is signed in, allow access to the HTML file
    } else {
      alert("usuário não logado, faça seu login")
      window.location.replace("../login/login.html");
    }
  });
  
  </script>
