<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gta4/NewGTA4.css">
    <title>GTA IV</title>
</head>
<body>
    <header>
        <h1>GTA IV</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>

              <li>
                <a href="#">
                  <h3>GTA VI</h3>
                  <p>
                    Grand Theft Auto IV foi lançado em abril de 2008 para Xbox 260 e PS3, e para PC em Dezembro de 2008. A partir de fevereiro de 2017 
                    passou a ficar disponível para Xbox One. Este é o primeiro jogo oficial do universo HD, separando GTA IV dos demais jogos do universo 3D
                    e universo 2D. <br>
                    As cidades foram reformuladas e o universo HD começou a apresentar a RAGE, e engine nova da Rockstar que dá a chance desse recomeço na série.
                    O jogo ambientado em uma Liberty City reformulada agora, está com foco de "realismo acima de tudo".
                  </p>
                </a>
              </li>

              <li><a href="#">
                <h3>Ambientação</h3>
                <p>
                  Grand Theft Auto IV retorna a cidade metropolitana de Liberty City, depois de aparecer anteriormente em GTA, GTA III e em GTA Liberty City Stories. 
                  Liberty city volta em GTA IV muito maior, muito mais extensa e muito mais detalhada, graças a nova engine em que o jogo foi produzido, a RAGE (Rockstar Advanced
                  Game Engine) que permite um nível de detalhe altíssimo, onde pela primeira vez os personagens em geral puderam ter seus dedos separados uns dos outros,
                  e os veículos que agora podem se deformar e ter seu motor inutilizado, algo que não acontecia em títulos anteriores.
                </p>
                </a>
              </li>

             <li><a href="#">
                <h3>História</h3>
                 <p> 
                  O enredo se passa em 2008, em uma versão renovada e atualizada de Liberty City, dando início ao universo HD com esta cidade, Niko Bellic é um ex-soldado 
                  da Europa Oriental (Sérvia e Montenegro), que veio para Ámerica em busca do "sonho americano", acreditando nas histórias de seu primo Roman Bellic. Ao chegar,
                  ele descobre que nem tudo é o que parece ser, e que Roman foi muito além de sua realidade descrita nas cartas enviadas à Niko - ele não é rico, ele não é popular, e ele está 
                  realmente com problemas. Niko começa sua vida nova tentando ajudar o primo a sair de seus próprios problemas, e assim acaba entrando em apuros. No entanto,
                  Niko não está em Liberty City só por causa da sua suposta fortuna e mulheres bonitas; ele quer se vingar de todos aqueles que o traíram na guerra, causando 
                  a morte de quase todos os seus amigos e pessoas queridas, tornando-o uma pessoa fria e sem sentimentos. Diante às dificuldades financeiras do primo viciado no jogo e da sua 
                  situação em relação ao seu passado e seu presente sem futuro, Niko procura o caminho mais fácil de conseguir respeito e dinheiro.  Fazendo assim, trabalho para 
                  pessoas da máfia Russa e outros bandidos, mas todos contatos de Roman Bellic.
                 </p>
                </a>
             </li>

             <li><a href="#">
              <h3>Jogabilidade</h3>
               <p> 
                Em GTA IV, a Rockstar tentou buscar o realismo máximo já mostrado em um jogo, então eles colocaram mecânicas realistas e retiraram fatores arcades no jogo. A movimentação 
                pela primeira vez está realista e bem feita, elém de física dos corpos esta finalmente funcional e realista, Niko pode empurrar pedestres, trombar com eles, e os próprios 
                civis tem relações diferentes, como por exemplo, ao correr em direção de uma pessoa com compras na mão, após chegar nela, a pessoa pode jogar as compras pro ar ou simplesmente
                deixá-las cair, além de que Niko pode cair ou os dois caírem juntos. Outra mecânica na movimentação que também existe são os NPCs e o próprio Niko que podem se tontear ou ficarem 
                confusos com certas situações. 
               </p>
              </a>
           </li>

           <li><a href="#">
            <h3>Veículos</h3>
             <p> 
              Os veículos também foram reformulados e na física deles também, agora os carros e motos também estão fieis a vida real, derrapando e virando de formas realistas, além das batidas
              de carro que tem um impulso muito real, fazendo o jogador sentir que o acidente foi real. Niko, ao bater de carro, vai para a frente do volante assim como os NPCs que te acompanham,
              eles vão para frente e o carro amassa de forma diferente dos antigos jogos, os amassados são imprevisívies e realistas, diferente dos vistos em GTA San Andreas, que eram programados
              para sempre serem os mesmos. 
             </p>
            </a>
         </li>

         <li><a href="#">
          <h3>Combates e Tiroteios</h3>
           <p> 
            Os combates e tiroteios no jogo também mudaram, agora o combate está amplificado e o jogador tem várias opções de golpes e agora ele pode esquivar e contra-atacar, além de que Niko
            sabe vários tipos de artes-marciais, por isso a falta de treinamento no jogo. 
            Niko também pode ter armas no jogo, que devem ser compradas ilegalmente pelo armamento ao porte-civil ser proibido em Nova York. As armas são em pouco números e são mais realistas 
            e isnpiradas em armas reais (como por exemplo, a clássica pistola é inspirada na M1911 e Glock), os seus sons, reações a tiro e as próprias armas deixaram qualquer outros jogos para trás.
           </p>
          </a>
       </li>
          
       <li><a href="#">
        <h3>Edição Especial</h3>
         <p>
          Existe uma edição de colecionador, ou a edição especial que pode ser comprada para o jogo pagando um pouco mais, porém com o acrécimo de mais itens, nela vem além da cópia do jogo, 
          uma trilha sonora e um livro de arte, além de uma chave para uma pequena caixinha, e maior item, uma mala semelhante a que Niko usa para cometer seus crimes. 
         </p>
        </a>
     </li>

     <li><a href="#">
      <h3>Curiosidades</h3>
       <p>
        - A Edição Especial do jogo era limitada mas ainda pode ser comprada atualmente em sites especializados.<br>
        - A cidade de Liberty City era atê 2013 a mais viva da série, sendo mais viva do que a própria Los Santos de GTA V, pois o seu sucessor usava muito dos consoles Xbox 360 e PlayStation 
            3, o que fez os pedestres serem menos vivos que em GTA IV.<br>
        - Porém agora com a nova geração, GTA V tem uma cidade um pouco mais viva que a Liberty City.<br>
        - Este é o único jogo da série que o protagonista pode pegar pequenos objetos do chão e jogá-los em algo ou alguém.<br>
        - Considerado por muitos, o único GTA com uma física realista.<br>
        - GTA IV foi o primeiro jogo a implementar um sistema de combate sólido, com socos, socos alternativos, chutes, esquivas, defesas e contra-ataques.<br>
        - Caso o jogador roube uma vã de sorvete e comece a tocar músicas nela, uma delas será a música tema do jogo, porém com uma versão de "sorveteiro". <br>
       </p>
      </a>
   </li>

   <li><a href="#">
    <h3>Personagens</h3>
     <p>
      - Niko Bellic<br>
      - Johnny Klebitz<br>
      - Luis Fernando Lopez<br>
      - Karen Daniels<br>
      - Patrick McReary<br>
      - Kate McReary<br>
      - Ashley Butler<br>
     </p>
    </a>
 </li>

 <li><a href="#">
  <h3>Vendas</h3>
   <p>
    Na sua primeira semana de lançamento, bateu dois records mundiais, como o jogo mais vendido, e por ter vendido no dia do seu 
    lançamento mais de 1 milhão de cópias. 
   </p>
  </a>
</li>
            </ul>
        </section>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Hf0VJ08A3WQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <audio id="myAudio" controls>
      <source src="/Musicas/Rarin-GTA.mp3" type="audio/mpeg">
    </audio>
    <script src="/views/gta4/NewGTA4.js"></script>
</body>
</html>