<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/gta5/NewGTA5.css">
    <title>GTA V</title>
</head>
<body>
    <header>
        <h1>GTA V</h1>
        <nav>
            <ul>
              <li><a href="/views/home/NewHome.html">Home</a></li>
              <li><a href="/views/forum/Forum.html">Fórum</a></li>
              <li><a href="/views/gta1/NewGTA1.html">GTA I</a></li>
              <li><a href="/views/gta2/NewGTA2.html">GTA II</a></li>
              <li><a href="/views/gta3/NewGTA3.html">GTA III</a></li>
              <li><a href="/views/gta4/NewGTA4.html">GTA IV</a></li>
              <li><a href="/views/gta5/NewGTA5.html">GTA V</a></li>
              <li><a href="/views/gta6/NewGTA6.html">GTA VI</a></li>
              <li><a href="/views/gtarp/NewGTARP.html">GTA RP</a></li>
              <li><a href="/views/download/Download.html">Downloads</a></li>
              <li><a href="/views/login/Login.html">Login</a></li>
              <li><a href="/views/cadastro/Cadastro.html">Cadastro</a></li>
              <li><a onclick="logout()">Deslogar</a></li>
            </ul>
        </nav>
    </header>
    <div class="imag"></div>
    <main>
        <section class="topics">
            <h2>Sobre</h2>
            <ul>

              <li>
                <a href="#">
                  <h3>GTA V</h3>
                  <p>
                    Grand Theft Auto V (GTA V), foi lançado em 2013 para PS3 e Xbox 360, em 2014 para PS4 e Xbox One e em 2015 foi lançado para pc.
                    GTA V se passa na cidade metropolitana de Los Santos e no condado de Blaine County, no sul do estado de San Andreas no ano de 2013,
                    cinco anos após os acontecimentos de GTA IV e GTA Liberty city e quatro anos após GTA Chinatown Wars. E pela primeira vez em toda 
                    saga de GTA, este jogo conta uma história com três protagonistas diferentes envolvidos, entre eles estão: <br> <br>
                    - Franklin Clinton<br>
                    - Michael Da Santa<br>
                    - Trevor Phillips <br>
                  </p>
                </a>
              </li>

              <li><a href="#">
                <h3>Ambientação</h3>
                <p>
                  Em novembro de 2011 a Rockstar Games confirmou que Grand Theft Auto V será ambientado na grande cidade de Los Santos e seu condado 
                  vizinho, Blaine County, que ficarão em um extenso mapa, que de acordo com cálculos de vários forums de discussão, é cerca de 2x a 3x 
                  mais extenso que o mapa de GTA San Andreas, e 4 a 5x maior que a Liberty City de GTA IV. <br>
                  Entre o mapa é possível encontrar os mais diversos tipos de biomas, como desertos semi áridos, florestas de pinheiros e sequóias,
                  colinas e montanhas, rios, lagos e o Oceano Pacifico que banha todo o estado, além de é claro a área urbana de Los Santos e as cidades 
                  menores como Sandy Shores e Paleto Bay. <br>
                  Um bioma que retorna em GTA V depois de GTA San Andreas, é o mundo submarino, agora totalmente vivo e rido de detalhes, o jogador pode
                  explorar este mundo a partir de um submersível, ou adquirindo em equipamento de mergulho, algumas missões do modo história requerem que o 
                  jogador entre nesse bioma. <br>
                  O ambiente submarino é um mundo totalmente rico, onde se pode encontrar algas marinhas, corais, racífes, cardumes de peixes, baleias gigantes,
                  tubarões famintos e vários destroços de aviões e navios naufragados ao mar cheio de tesouros. <br>
                  Estradas e rodovias cobrem todo o mapa, são vários e vários quilômetros de rodovia que passam por pontes e túneis, aquela sensação passada ao
                  ao jogador de estar viajando para bem longe em seu carro e perceber que o mundo ao seu redor é grande tinha voltado desde GTA San Andreas. <br>
                  Para os aventureiros, foi adicionado uma base militar extremamente protegida chamada Fort Zancudo, que guarda veículos altamente perigosos
                  como o caça supersônico P-996 Lazer e o tanque de guerra Rhino, além disso a base guarda também vários mistérios sobre suas atividades na região,
                  além de laboratórios de pesquisa e docas altamente restritas ao jogador, caso o mesmo ultrapasse os limites, forças policiais e militares entrarão 
                  em perseguição.
                </p>
                </a>
              </li>

             <li><a href="#">
                <h3>História</h3>
                 <p> 
                  "Quando um malandro de rua, um ladrão de bancos aposentado e um psicopata aterrorizante se envolvem com alguns dos criminosos mais assustadores 
                  e loucos do submundo, o governo dos EUA e a indústria do entretenimento, eles devem realizar golpes ousados para sobreviver nessa cidade implacável 
                  onde não podem confiar em ninguém, nem mesmo um no outro" - Descrição oficial do Grand Theft Auto V <br>
                  Los Santos: Uma metrópole banhadas pelo sol cheias de gurus de auto-ajuda, starlets e celebridades em desvanecimento, uma vez que há inveja do mundo 
                  ocidental, agora lutando para se manter à tona em uma era de incerteza econômica. Em meio ao tumulto, três criminosos muito diferentes traçam suas 
                  próprias chances de sobrevivência e sucesso: Franklin, um ex-gângster rua, agora à procura de oportunidades reais e muito dinheiro envolvido; Michael, 
                  um profissional de ex-presidiário, cuja reforma é muito menos otimista do que ele esperava que fosse; e Trevor, um maníaco violento impulsionada pela 
                  chance de participar em grandes roubos milionários. Mas todos ficando sem opções, a tripulação arrisca tudo em uma série de assaltos ousados e 
                  perigosos que podem configurá-los para a vida toda. - Descrição do Jogo <br>
                  Michael é um ladrão de bancos profissional aposentado, que depois de fazer um trato com o FBI, voltou para a vida do crime. Trevor é o canhão solto 
                  nessa história, e é também o melhor amigo de Michael a muito tempo, ele também é um psicopata cabeça quente. Por último, mas certamente não menos 
                  importante, temos Franklin, um jovem e sombrio agente de reintegração de posse que tem uma grande quantidade de experiências ao volante, mas nenhuma 
                  experiência real com o crime até que ele conhece Michael, enquanto ele estava fazendo suas reintegrações de posse. <br>
                 </p>
                </a>
             </li>

             <li><a href="#">
              <h3>Jogabilidade</h3>
               <p> 
                A jogabilidade de GTA V evolui quase todas as características presentes em seu título anterior (GTA IV), além de trazer de volta vários elementos que
                fizeram sucesso em GTA San Andreas. Muito dos fatores "realistas" de GTA IV foram deixados de lado, como por exemplo a física, que está Arcane, dirigibilidade
                e movimentação em sua maior parte, além de cabeleireiros e tatuadores, elementos Arcades de San Andreas que não esteve presente em GTA IV pelo realismo que o 
                jogo tentou focar, mas que está de volta no V.
               </p>
              </a>
           </li>

           <li><a href="#">
            <h3>Veículos</h3>
             <p> 
              Houveram várias melhorias na condução de veículos, onde os mesmos apresentam comportamentos bem mais complexos e realísticos, a física em GTA V foi melhorada
              deixando de ser algo totalmente exagerado para algo mais lógico e prático.  <br> <br>
                  - Caso o jogador capotar seu veículo durante sua jogatina, o mesmo pode ser desvirado sem a necessidade de sair do veículo, apenas virando seu volante para 
                  esquerda ou direita. <br>
                  - O sistema de dano em veículos deixou de ser algo exagerado, onde em títulos anteriores o veículo poderia cair de um prédio altíssimo sem explodir, onde 
                  ele ficava estranhamente deformando, agora em Grand Theft Auto V o carro pode sim explodir ao cair de uma altura grande.<br>
                  - Caso o veículo tenha seu tanque de combustível perfurado, o mesmo irá derramar gasolina ou outro combustível pelo ambiente até se esgotar, inutilizando 
                  o carro, se o jogador atirar com alguma arma de fogo no liquido derramado no chão, o mesmo irá pegar fogo, podendo atingir o carro com o tanque perfurado 
                  fazendo-o explodir.<br>
                  - Foram adicionados novos comandos ao veículo, agora o protagonista pode se abaixar dentro do carro, pode também ativar/desativar os faróis, além da 
                  clássica buzina que pode ser personalizada.<br>
                  - Foi adicionado um novo tipo de veículo, o Submersível, capaz de se mover debaixo da água em até 180 metros abaixo do nível do mar.<br>
                  - Os aviões voltaram em GTA V, agora o protagonista pilotará aviões de diversos tamanhos e tipos, além disso houve o retorno do paraquedas.<br>
                  - A quantidade de veículos presente praticamente triplicou em relação ao titulo anterior (GTA IV).<br>
                  - A modificação em carros está de volta em GTA V, a qualquer momento do jogo, o jogador pode levar seu carro para a Los Santos Customs e fazer 
                  customizações tanto na aparência como em seu desempenho<br>
             </p>
            </a>
         </li>

         <li><a href="#">
          <h3>Empresas </h3>
           <p> 
            O jogo agora está bem mais complexo do que o anterior, a prova disso é que foram adicionados várias empresas novas, que trabalham nos mais diversos setores 
            como montadoras de veículos, redes de fast food, bancos, empresas aéreas, novas imobiliárias e contrutoras, além de lojas de roupas, marcas de cigarros, empresas 
            de segurança privadas e etc. <br> <br>
            - Agora é possível investir no mercado de ações, pela Liberty City Exange (LCN) ou pela BAWSAQ.<br>
            - Várias propriedades podem ser compradas pelo jogador em GTA V, o jogador pode comprar pequenas empresas como oficinas, bares, clubes, ferros-velhos, empresas 
                de táxi, garagens e hangares para guardar seus veículos preferidos.<br>
           </p>
          </a>
       </li>
          
       <li><a href="#">
        <h3>Armamentos</h3>
         <p>
          Foram adicionadas dezenas de armas novas para todos os tipos e para todos os gostos que podem ser compradas na loja de armas "Ammu-Nation" como era em GTA San Andreas. 
          Tanques de guerra e caças militares também retornaram ao GTA V e podem ser disparados contra qualquer coisa que o jogador quiser. Com o passar do tempo a Rockstar 
          adiciona várias armas novas por meio de atualizações gratuitas e que também podem ser compradas nas lojas de armas em todo o sul do estado. <br> <br>
          - Coletes balísticos foram mantidos no jogo, agora podem ser comprados em diversos tipos de materiais diferentes que afetarão sua durabilidade, eles também podem 
              ser achados escondidos pelo mapa, assim como as armas de fogo e explosivos.<br>
              - Pela primeira vez na série é possível modificar a arma já comprada, adicionando lanternas novas, silenciadores, empunhaduras, miras mais precisas, lembrando 
              que isso afetará positivamente ou negativamente o desempenho da arma, alterar suas cores é também possível agora para deixar sua arma mais única, assim como 
              acontece em Call of Duty e em Batllefield.<br>
              - Pela primeira vez na saga GTA as armas que o jogador estiver portando poderão ser escolhidas em uma interface gráfica, chamada de "Roda de armas", é aqui 
              aonde é possível escolher as armas que estão separadas devidamente por categoria, para que possa entender melhor uma imagem está disponível ao lado para 
              que possa ser observada.<br>
         </p>
        </a>
     </li>

     <li><a href="#">
      <h3>Personalização do Personagem</h3>
       <p>
        Assim como acontecia em títulos anteriores, é possível realizar costumizações altas nos quatro protagonistas do jogo.  <br> <br>
        - É possível realizar cortes de cabelo e de barba no personagem, assim como acontecia em GTA San Andreas;<br>
        - É possível escolher uma grande seleção roupas para o protagonista que vão desde camisas, bermudas e paletós a brincos, bonés, óculos e máscaras;<br>
        - As tatuagens voltaram e é possível fazer em qualquer protagonista do jogo em quase todas as partes de seu corpo. <br>
       </p>
      </a>
   </li>

   <li><a href="#">
    <h3>Inteligência Artificial (I.A.)</h3>
     <p>
      A inteligência artificial foi massivamente aprimorada em GTA V, os pedestres estão mais vivos e existem mais diversidade entre eles:  <br>  <br>
          - Agora é possível visualizar e interagir com animais, vacas, porcos, galinhas, veados, leopardos e coelhos são comuns de se encontrar na mata, sendo 
          que os leopardos podem te atacar se te virem, causando a morte do jogador;<br>
          - No mar podemos ver crustáceos, algas, e diversas formas orgânicas submarinas, além dos peixes, tubarões podem te atacar se te virem, causando ao 
          jogador uma morte sem escapatória;<br>
          - Nas áreas urbanas podemos encontrar cachorros, gatos, pombos e gaivotas, Franklin tem um cachorro chamado Chop, o jogador pode passear e brincar com ele.<br>
     </p>
    </a>
 </li>

 <li><a href="#">
  <h3>GTA Online</h3>
   <p>
    GTA V dá aos jogadores acesso grátis ao GTA Online, o jogo multiplayer principal da série, com suporte para até 30 jogadores e dois espectadores. Ao entrar 
    no GTA Online, o jogo já inclui todas as atualizações do conteúdo já criados pela Rockstar lançados desde que o lançamento do jogo, incluindo golpes, corridas e modos adversários.
    GTA Online não é considerado pela Rockstar como um modo online de GTA V, e sim um jogo principal separado e independente que usa 
    o mesmo motor gráfico.
   </p>
  </a>
</li>

<li><a href="#">
  <h3>Personagens</h3>
   <p>
    - Trevor Philips<br>
    - Michael De Santa<br>
    - Franklin Clinton<br>
    - Johnny Klebitz<br>
    - Lester Crest<br>
    - Lamar Davis<br>
    - Dave Norton<br>
    - Steve Haines<br>
    - Devin Weston<br>
    - Amanda De Santa<br>
    - Jimmy de Santa<br>
    - Tracey De Santa<br>
    - Stretch<br>
    - Wei Cheng<br>
    - Ron Jakowski<br>
    - Wade Hebert<br>
    - Martin Madrazo<br>
    - Simeon Yetarian<br>
    - Slomon Richards<br>     
    - Molly Schultz<br>     
    - Floyd Hebert<br>     
    - Andreas Sanchez<br>     
    - Tao Cheng<br>     
    - Dr. Isiah Friedlander<br>     
    - Patricia Madrazo<br>     
    - Brad Snider<br>     
    - Chop (O cachorro)<br>     
   </p>
  </a>
</li>

<li><a href="#">
  <h3>Curiosidades</h3>
   <p>
    - Cada protagonista do jogo tem uma habilidade especial diferente um dos outro, ativada ao aperta simultaneamente os dois analógicos:<br>
    • Michael tem o "Bullet Time" (Tempo de bala), tudo congela para ele atirar com mais facilidade; <br>
    • Trevor tem uma habilidade muito curiosa, tudo fica alaranjado e ele causa o dobro de dano e recebe duas vezes menos o dano também; <br>
    • Franklin tem uma habilidade especial semelhante a de Michael, tudo congela mas em carros e motos.Pela primeira vez os carros conversíveis podem retrair seu teto 
    para o porta-malas do carro, antes os tetos dos carros ficavam presos na parte traseira do veículo, as vezes nem tinham um teto propriamente dito;<br>
    - Grand Theft Auto V é o primeiro jogo da saga a conter trilhas sonoras durante as cutscenes das missões do modo história;<br>
    - As placas dos veículos podem ser trocadas para diferentes formatos de letras e cores, algo que não tinha nada parecido em jogos anteriores;<br>
    - Cada protagonista do jogo foram feitos de forma mais única possível, sendo cada um em uma determinada fase da vida do crime. <br>
    • Michael representa, inicialmente, o jogador que já "venceu o jogo", agora a viver a sua vida como um criminoso aposentado com sucesso.<br>
    • Trevor é um psicopata completo, representando o tipo de jogador que prefere matar e causar o caos quando o mesmo rodam livre pelo ambiente.<br>
    • Franklin é um pequeno bandido, querendo subir na hierarquia do submundo do crime semelhante às tradicionais protagonistas que o jogador controla em jogos anteriores.<br>
    - O roteiro de Grand Theft Auto V é de 10.000 páginas, de acordo com Dan Houser em uma entrevista em 2012.<br>
    - Há uma semelhança notável entre o logotipo GTA V e o ícone da nota de cinco dólares de 1899.<br>
    - GTA V é o terceiro jogo da série começar com um assalto a banco, com Grand Theft Auto III e The Ballad of Gay Tony ser o primeiro e segundo lugar, respectivamente.<br>
    - Em Saints Row IV, um dos packs de DLC acrescentar roupas com o logotipo "GAT V", o que é uma referência ao GTA V.<br>
    - Pela primeira vez, os carros descapotáveis podem retrair-se e implantar suas tampas macias / duras. Nos jogos anteriores, os descapotáveis estavam presos com o telhado que 
        tinham ou não possuíam (com exceção de instalar uma capa permanente em lowriders em Grand Theft Auto: San Andreas )<br>
    - No jogo, há uma animação para se o jogador ficar preso sob um veículo, mas quase nunca é usado.<br>
    • A animação é usada se o jogador estiver preso sob um caminhão, mas se o jogador estiver preso sob um carro, eles simplesmente se deslocarão ao lado do carro.<br>
    - GTA V é o primeiro jogo da série desde Grand Theft Auto Advance, onde o jogador pode armazenar todas as armas em seu inventário em vez de substituí-las.<br>
   </p>
  </a>
</li>

<li><a href="#">
  <h3>Vendas</h3>
   <p>
    O GTA V para consoles foi lançado como um dos jogos mais bem sucedidos da história, com 11,21 milhões de unidades vendidas apenas no primeiro dia e faturando mais de US$ 1 bilhão em 
    apenas três dias. Atualmente já foram vendidas mais de 170 milhões de cópias.
   </p>
  </a>
</li>
            </ul>
        </section>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TvLWjM7Bk90" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section class="categories">
            <h2>Categorias</h2>
            <ul>
              <li><a href="/views/atualizacao/Atualizações.html">Atualizações</a></li>
              <li><a href="/views/regras/Regras.html">Regras</a></li>
              <li><a href="/views/comunidade/Comunidade.html">Comunidade</a></li>
            </ul>
          </section>
    </main>
    <audio id="myAudio" controls>
      <source src="/Musicas/GTAsp.mp3" type="audio/mpeg">
    </audio>
    <script src="/views/gta5/NewGTA5.js"></script>
</body>
</html>